<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/app.css}" crossorigin="anonymous"/>
</head>
<body>
<header>
    <h1>Shopster</h1>
    <nav>
        <ul class="menu">
            <li>
                <a href="/">MENU ITEM 1</a>
            </li>
            <li>
                <a href="/">MENU ITEM 2</a>
            </li>
        </ul>
    </nav>
</header>
<div class="container">
    <div class="row">
        <h1>Project 1</h1>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>